<p id="notice"><%= notice %></p>

<h1>Listing Breminale Dates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breminale_dates.each do |breminale_date| %>
      <tr>
        <td><%= link_to 'Show', breminale_date %></td>
        <td><%= link_to 'Edit', edit_breminale_date_path(breminale_date) %></td>
        <td><%= link_to 'Destroy', breminale_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breminale date', new_breminale_date_path %>
